.container {
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    height: fit-content;
    flex-direction: column;
    position: relative;
}

.img {
    // width: 100px;
    // height: 150px;
    width: 200px;
    height: 300px;
}

.title {
    font-weight: 400;
    font-size: 30px;
}

.cross {
    position: absolute;
    top: 7px;
    right: 7px;
    border: none;
    background-color: transparent;
}

